/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.wrapper {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  width: 75%;
  background: -moz-linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  background: -webkit-linear-gradient(
    1800deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212529",endColorstr="#e41010",GradientType=1);
}

.digit-box {
  
  padding: 1rem;
  margin: 1rem 0.5rem;
  border: 1px solid black;
  background-color: grey;
  color: #c7c7c7;
  border-radius: 30%;
  background: rgb(33, 37, 41);
  background: -moz-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 33%,
    rgba(228, 16, 16, 0.7570378493194152) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212529",endColorstr="#e41010",GradientType=1);
  box-shadow: 0px 5px 5px 5px black;
}
